@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Pinyon+Script&family=Rouge+Script&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');


#home2{
    background: linear-gradient(#000, #000) no-repeat center/0.5px 100%;
    padding-top: 8vh;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-around;
}

.ourStory {
    font-family: 'Pinyon Script', cursive;
    text-align: center;
}

#ourStoryImg {
    max-width: 300px;
    height: auto;
}

.ourStoryBio{
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    font-size: x-large;

}

.ourStoryTitle {
    font-family: 'Pinyon Script', cursive;
    max-width: 700px;
    margin-left: 25%;
    line-height: 1.6;
}

@media screen and (max-width: 1048px){
    #home2 {
        background: none;
        display: flex;
        flex-direction: column;
        padding-top: 3vh;
    }
    .ourStoryBio {
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }
    .ourStoryTitle {
        max-width: 600px;
        margin-left: 0;
        margin-top: 40px;
        line-height: 1.8;
    }
    #ourStoryImg {
        margin-left: 0;
    }
}

@media screen and (max-width: 45em){
    .ourStoryTitle {
        max-width: 390px;
        margin-left: 15px;
        margin-top: 40px;
        line-height: 1.8;
    }
    #ourStoryImg{
        max-width: 250px;
        border-radius: 10%;
        border:whitesmoke solid 2px;
        border-style: double;
        margin-top: auto;
    }
}