@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

*{
box-sizing:border-box;
}
html {
    /* background-color: floralwhite; */
    background-image: url('../src/Assets/clarissa2.jpg');
}
a {
    text-decoration: none;
}
