@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

*{
box-sizing:border-box;
}
html {
    background-color: floralwhite;
    /* padding-top: 30vh; */
    /* margin-top: 15px; */
}
a {
    text-decoration: none;
}
@media (max-width: 625px) {
html {
    /* padding-top: 10vh; */
}
}