@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Pinyon+Script&family=Rouge+Script&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

/* button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: .5px solid black;
  border-radius: 0.6em;
  color: black;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  background-color: darkgrey;
  transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out;
}
  button:hover {
    box-shadow: 0 0 2px 2px ;
    background-color: bisque;
} */

.map {
    display: flex;
    flex-direction: row;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;
    /* margin-left: 100px;
    margin-right: 100px; */
}
  .corkBoardTitle{
    font-family: 'Pinyon Script', cursive;
    font-size: 2em;
    margin-bottom: 5px;
    text-align: center;
  }
 
  .currentUserDiv{
    display: flex;
    margin-left: 10%;
  }
  
  .mappedContent {
    /* flex: 1 1; */
    justify-content: space-evenly;
    padding: 25px;
    margin: 30px;
    border-radius: 15px;
    width: fit-content;
    overflow: unset;
    max-width: 420px;
    height: -moz-fit-content;
    height: fit-content;
    /* -webkit-backdrop-filter: blur(8px); */
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgb(189, 204, 174);
    border: 1px solid rgb(129, 129, 129);
    /* backdrop-filter: blur(8px); */
}

  .currentUserGreeting {
    font-family: 'Pinyon Script', cursive;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 100px;
  }

  .corkboardButtons{
    font-family: 'Pinyon Script', cursive;
    display: flex;
    justify-content: space-evenly;
  }

  .postName{
    font-family: 'Rouge Script', cursive;
    /* font-family: 'Dosis', sans-serif !important; */
    font-size: x-large;
    padding-left: 3px;
    margin-left: 10px;
  }

  .postContent {
    overflow: auto;
    min-width: 100px;
    /* font-family: 'Rouge Script', cursive; */
    font-family: 'Dosis', sans-serif !important;
    /* line-height: 100%; */
    font-size: large;
    padding-left: 3px;
    /* max-height: 35vh; */
}
  /* @media screen and (max-width:1388px) {
    .map {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 50px;
        margin-right: 50px;
        z-index: -1;
      }
      .currentUserDiv{
        margin-left: 0px;
      }
      .currentUserGreeting {
        font-family: 'Pinyon Script', cursive;
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
        max-width: 240px;
      }
} */

@media screen and (max-width:45em) {
    .map {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        z-index: -1;
      }
      .currentUserDiv{
        margin-left: 0px;
        display:flex;
        justify-content: center;
      }
      .currentUserGreeting {
        font-family: 'Pinyon Script', cursive;
        margin-left: 0px;
        text-align: center;
        font-size: 35px;
        margin-top: revert;
      }
      .corkboardButtons{
        font-family: 'Pinyon Script', cursive;
        display: flex;
        justify-content: space-evenly;
        max-width: 100%;
      }
      .postContent {
        overflow: auto;
        min-width: 100px;
        /* font-family: 'Rouge Script', cursive; */
        /* line-height: 100%; */
        font-size: large;
        padding-left: 3px;
        /* max-height: 35vh; */
    }
      .mappedContent {
        flex: 1;
        justify-content: space-evenly;
        padding: 25px;
        margin: 15px;
        border-radius: 15px;
        min-width: 300px;
        max-width: auto;
        backdrop-filter: blur(8px);
        background-color: rgb(189, 204, 174);
        border: 1px solid black;
        backdrop-filter: blur(8px);
      }
}