@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Pinyon+Script&family=Rouge+Script&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

.delete-button {
    font-family: 'Dosis', sans-serif;
    border: 1px solid black;
    font-size: normal;
    font-weight: 600;
    height: 40px;
    border-radius: 9px;
    margin-top: 15px;
}

.delete-button:hover {
    background-color: bisque !important;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.edit-btn {
    font-family: 'Dosis', sans-serif;
    border: 1px solid black;
    font-size: normal;
    font-weight: 600;
    height: 40px;
    width: 70px;
    border-radius: 9px;
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 10px;
}

.edit-btn:hover {
    background-color: bisque !important;
}

.map {
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}
 
  .mappedContent {
    justify-content: space-evenly;
    padding: 25px;
    margin: 30px;
    border-radius: 15px;
    width: fit-content;
    overflow: unset;
    max-width: 420px;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgb(189, 204, 174);
    border: 1px solid rgb(129, 129, 129);
} 
  
.no-posts{
  text-align: center;
  margin-top: 10%;
}

.no-post-button {
  font-family: 'Dosis', sans-serif;
  border: 1px solid black;
  font-size: x-large;
  font-weight: 600;
  border-radius: 9px;
  height: 80px;
  width: 170px;
}

.no-post-button:hover {
  background-color: bisque !important;
}

.no-post-div{
  display: flex;
  justify-content: center;
}

@media screen and (max-width:45em) {
    .map {
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        z-index: -1;
      }

      .buttons {
        display: flex;
        justify-content: center;
        position: relative;
        z-index:200;
    }

      .mappedContent {
        flex: 1;
        justify-content: space-evenly;
        padding: 25px;
        margin: 15px;
        border-radius: 15px;
        min-width: 300px;
        max-width: auto;
        backdrop-filter: blur(8px);
        background-color: rgb(189, 204, 174);
        border: 1px solid black;
        backdrop-filter: blur(8px);
      }

      .delete-button {
        font-family: 'Dosis', sans-serif;
        border: 1px solid black;
        font-size: normal;
        font-weight: 600;
        height: 40px;
        width: 70px;
        border-radius: 9px;
        margin: 0;
        margin-top: 15px;
    }

    .edit-btn {
      font-family: 'Dosis', sans-serif;
      border: 1px solid black;
      font-size: normal;
      font-weight: 600;
      height: 40px;
      width: 70px;
      border-radius: 9px;
      margin: 0 auto;
      margin-top: 15px;
      margin-left: 30px;
  }
}