.registry-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }

.reg {
    height: 200px;
    max-width: 290px;
    padding: 10px;
    flex: 1 auto;
    border: 1px black solid;
    transition: all .2s ease-in-out;
    margin-right: 15px;
    margin-left: 15px;
 }

 .reg:hover {
    transform: scale(1.05);
 }
  
 .registry-container{
    display: flex;
    overflow: auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
 }

 #reg2 {
     max-width: fit-content;
 }

 @media screen and (max-width:45em) {
    .registry-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
     }
}