@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Pinyon+Script&family=Rouge+Script&family=Tangerine:wght@700&display=swap');

ul {
    display:flex;
    text-decoration: none;
    list-style: none;
    /* display:inline; */
    padding: 0;
    justify-content: space-around;
}

.nav-links{
    text-decoration: none;
}

.nav-title{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 70px;
    font-size: calc(50px + 1vw);
    font-family: 'Rouge Script', cursive;
}

