/* @import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Pinyon+Script&family=Rouge+Script&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
ul {
    display:flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
    justify-content: space-around;
    color: inherit;
}

.nav-links{
    text-decoration: none;
    transition: all .1s ease-in-out; 
    color: inherit;
    font-family: 'Pinyon Script', cursive;
    font-size: 20px;
}

.nav-links:hover{
    transform: scale(1.05); 
}

.nav-title{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    padding-top: 70px;
    font-size: calc(50px + 1vw);
    font-family: 'Rouge Script', cursive;
}
.nav-title-link{
    text-decoration: none;
    color: inherit;
    transition: all .3s ease-in-out; 
}

.nav-title-link:hover{
    transform: scale(1.1);
}

.mobile-nav-ul-div{
    display: none;
}

.mobile-nav-ul {
    display: none;
  }

  @media screen and (min-width:1440px) {
    .nav-links{
        text-decoration: none;
        transition: all .1s ease-in-out; 
        color: inherit;
        font-family: 'Pinyon Script', cursive;
    }   
    }
 */

/* @media screen and (max-width:45em) { */
    /* The following CSS was inspired by the CSS-Tricks.com site */
    /* Link {
        text-decoration: none;

    }
    .nav-ul-div{
        display: none;
    }
    .mobile-nav-ul {
        display: flex;
        flex-flow: row wrap;
      }
    .mobile-nav-ul-div{
        display:flex;
        text-decoration: none;
        justify-content: center;
        color: inherit;
        font-family: 'Pinyon Script', cursive;
        font-size: 24px;

    }
    .mobile-nav-links {
        text-decoration: none;
        font-size: 25px;
        display: flex;
        color: inherit;
        margin: 0 15px 15px 15px;
    }
  } */