@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Pinyon+Script&family=Rouge+Script&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
.homeTitle {
    font-family: 'Rouge Script', cursive;
    float:left;
    font-size: 300%;
}

#home{
    background: linear-gradient(#000, #000) no-repeat center/0.5px 100%;
    padding-top: 13vh;
    padding-bottom: 7%;
    margin-top: 9vh;
    display:flex;
    justify-content: space-evenly;
    }

.weddingInfo{
    display: flex;
    flex-direction: column;
}

.homeTime, .homeLocation{
    grid-column: 1;
    grid-row: 1;
    font-family: 'Rouge Script', cursive;
    font-size: xx-large;
    padding-top: 10px;
  }
  
  .homeTime {
    margin-top: 10px;
  }

  .homeLocation{
    margin-top: auto;

  }

@media screen and (max-width:965px) {
#home{
    background: none;
    display: flex;
    flex-direction: column;
}
.homeTitle{
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 55px;
}
.weddingInfo{
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

}